

<!-- Table with hoverable rows -->
<table class="table table-hover">
	<thead>
	<tr>
		<th scope="col">API</th>
		<th scope="col">Description</th>
		<th scope="col">Docs</th>
		<th scope="col">Concepts</th>
	</tr>
	</thead>
	<tbody>
	{% for api in apis %}
	<tr>
		<th scope="row"><a href="{{ url_for('api_detail', num=api.id) }}">{{ api.name }}</a></th>
		<td>{{ api.description }}</td>
		<td><a href="{{ api.doc_link }}" target="_blank"><i class="bi bi-file-earmark-text"></i></a></td>
		<td>{% for concept in api.concepts %} <a href="{{ url_for('concept_detail', num=concept.id) }}"> <span
				class="badge rounded-pill bg-primary-subtle text-primary-emphasis"> {{ concept.concept_term }} </span></a>
			{% endfor %}
		</td>
	</tr>
	{% endfor %}
	</tbody>
</table>