<script>


									document.addEventListener("DOMContentLoaded", () => {
										new ApexCharts(document.querySelector("#reportsChart"), {
											series: [{
												name: 'Commits',
												data: {{ data|tojson }},
											}, {
												name: 'Placeholder',
												data: [11, 32, 45, 32, 34, 52, 41]
											}, {
												name: 'Another Placeholder',
												data: [15, 11, 32, 18, 9, 24, 11]
											}],
											chart: {
												height: 350,
												type: 'area',
												toolbar: {
													show: false
												},
											},
											markers: {
												size: 4
											},
											colors: ['#4154f1', '#2eca6a', '#ff771d'],
											fill: {
												type: "gradient",
												gradient: {
													shadeIntensity: 1,
													opacityFrom: 0.3,
													opacityTo: 0.4,
													stops: [0, 90, 100]
												}
											},
											dataLabels: {
												enabled: false
											},
											stroke: {
												curve: 'smooth',
												width: 2
											},
											xaxis: {
												categories: {{ labels|tojson }}
											},
											tooltip: {
												x: {
													format: 'MM/dd/yy'
												},
											}
										}).render();
									});
								</script>
								<!-- End Line Chart -->