{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Concept Detail{% endblock %}

{% block content %}
<main id="main" class="main">

	<div class="pagetitle">
		<h1>{{ concept.concept_term }}</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item">My Learning</li>
				<li class="breadcrumb-item"><a href="{{ url_for('concepts_page') }}">Concepts</a></li>
				<li class="breadcrumb-item active">Usage</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{ concept.concept_term }}</h5>
			{% if concept.category %}
			{% set ttype = concept_badge[concept.category] %}
			<p><i class="{{ ttype[2] }}" style="color: {{ttype[1]}}"></i> {{ ttype[0] }}</p>
			{% endif %}
			<p><i class="ri-double-quotes-l" style="color: dimgrey"></i> {{ concept.description }} <i
					class="ri-double-quotes-r" style="color: dimgrey"></i></p>
			<p><i class="ri-add-circle-fill" style="color: dimgrey"></i> {{ concept.date_added.strftime("%B %d, %Y") }}
			</p>
			<a href="{{ url_for('update_concept', num=concept.id) }}">
				<button type="button" class="btn btn-primary btn-sm"><i class="ri-edit-fill"></i> Update
				</button>
			</a>
			<a href="{{ url_for('delete_concept', num=concept.id) }}">
				<button type="button" class="btn btn-danger btn-sm"><i class="bi bi-exclamation-triangle"></i> Delete
				</button>
			</a>

		</div>
	</div><!-- End Concept Details -->


	<!--	All Projects for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Linked Projects</h5>
			{% include '_projects.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->

	<!--	All Libraries for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Linked Libraries</h5>
			{% include '_libraries.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->

	<!--	All CodeLinks for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">CodeLinks</h5>
			{% include '_codelinks.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->

	<!--	All APIs for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Linked APIs</h5>
			{% include '_apis.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->

	<!--	All Tools for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Linked Tools & Utilities</h5>
			{% include '_tools.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->

	<!--	All Resources for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Linked Resources</h5>
			{% include '_resources.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->


</main> <!-- End #main -->
{% endblock %}


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
