{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Library Detail{% endblock %}

{% block content %}
<main id="main" class="main">

	<div class="pagetitle">
		<h1>{{ library.name }}</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item">Knowledge Center</li>
				<li class="breadcrumb-item"><a href="{{ url_for('libraries_page') }}">Libraries</a></li>
				<li class="breadcrumb-item active">Usage</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->

	<!--		Details-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{ library.name }}</h5>
			<p><i class="ri-double-quotes-l" style="color: dimgrey"></i> {{ library.description }} <i
					class="ri-double-quotes-r" style="color: dimgrey"></i></p>
			<p><i class="ri-attachment-2" style="color: dimgrey"></i><a href="{{ library.url }}" target="_blank"> Go to
				Docs</a></p>
			<p><i class="ri-add-circle-fill" style="color: dimgrey"></i> {{ library.date_added.strftime("%B %d, %Y") }}
			</p>
			<p>{% for concept in library.concepts %} <a href="{{ url_for('concept_detail', num=concept.id) }}"> <span
					class="badge rounded-pill bg-primary-subtle text-primary-emphasis"> {{ concept.concept_term }} </span></a>
				{% endfor %}</p>
			<a href="{{ url_for('update_library', num=library.id) }}">
				<button type="button" class="btn btn-primary btn-sm"><i class="ri-edit-fill"></i> Update</button>
			</a>
			<a href="{{ url_for('delete_library', num=library.id) }}">
				<button type="button" class="btn btn-danger btn-sm"><i class="bi bi-exclamation-triangle"></i> Delete
				</button>
			</a>

		</div>
	</div><!-- End Details -->


	<!--	All Projects for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Linked Projects</h5>
			{% include '_projects.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->


	<!--	All CodeLinks for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">CodeLinks</h5>
			{% include '_codelinks.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->


	<!--	All Resources for Concept Table-->
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Linked Resources</h5>
			{% include '_resources.html' %}
		</div>
	</div>
	<!-- End Table with hoverable rows -->


</main> <!-- End #main -->
{% endblock %}


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
