{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Project Detail{% endblock %}

{% block content %}
<main id="main" class="main">

	<div class="pagetitle">
		<h1>{{ project.title }}</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item">My Learning</li>
				<li class="breadcrumb-item"><a href="{{ url_for('projects_page') }}">Projects</a></li>
				<li class="breadcrumb-item active">{{ project.name }}</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{ project.name }} Details</h5>
			<p><i class="ri-double-quotes-l" style="color: dimgrey"></i> {{ project.description }} <i
					class="ri-double-quotes-r" style="color: dimgrey"></i></p>
			<p><i class="bi bi-github" style="color: dimgrey"></i> {{ project.repo.name }}{% if project.path %}/{{ project.path }}{% endif %}</p>
			<p><i class="ri-add-circle-fill" style="color: dimgrey"></i> {{ project.date_added.strftime("%B %d, %Y") }}
			</p>
			<hr>
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<div class="accordion-item d-grid gap-2 2-md-flex">
					<h2 class="accordion-header" id="flush-headingOne">
						<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
								aria-expanded="false" aria-controls="flush-collapseOne">
							<span><i class="ri-book-2-fill" style="color: dimgrey"></i> {{ project.course.name }}</span>
						</button>
					</h2>
					<div id="flush-collapseOne" class="accordion-collapse collapse"
						 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
						<div class="accordion-body">
							<p>Section: {{ project.section }}</p>
							<p>Lecture: {{ project.lecture }}</p>
							<p><i class="ri-attachment-2" style="color: dimgrey"></i> <a href="{{ url_for('course_detail', num=project.course.id) }}"
																		 target="_blank"> Go to Course Detail</a></p>
							<p><i class="ri-attachment-2" style="color: dimgrey"></i> <a href="{{ project.assignment_link }}"
																		 target="_blank"> Go to Assignment</a></p>
						</div>
					</div>
				</div>
			</div>

			<p><i class="bi bi-hourglass-top"></i> {{ project.start.strftime("%B %d, %Y") }}</p>
			{% if project.last_updated %}
			<p><i class="bi bi-hourglass-bottom"></i> {{ project.last_updated.strftime("%B %d, %Y") }}</p>
			{% else %}
			<p><i class="bi bi-hourglass-bottom"></i> {{ project.date_added.strftime("%B %d, %Y") }}</p>
			{% endif %}


			<a href="{{ url_for('update_project', num=project.id) }}">
				<button type="button" class="btn btn-primary btn-sm"><i class="ri-edit-fill"></i> Update Project
				</button>
			</a>
			<a href="{{ url_for('delete_project', num=project.id) }}">
				<button type="button" class="btn btn-danger btn-sm"><i class="bi bi-exclamation-triangle"></i> Delete
					Project
				</button>
			</a>
		</div>
	</div><!-- End Project Details -->


	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Libraries/APIs Used</h5>

			<!-- Top Concepts List group With Badges -->
			<ul class="list-group">
				{% for concept in concepts %}
				{% set ttype = concept_badge[concept.category] %}
				{% if concept.category == 'library' or concept.category == 'api' %}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					{{ concept.concept_term }}
					<i class="{{ ttype[2] }}" style="color: {{ ttype[1] }}"></i> {{ ttype[0] }}
				</li>
				{% endif %}
				{% endfor %}
			</ul><!-- End Top Concepts List Group -->

		</div>
	</div>

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Top Concepts</h5>

			<!-- Top Concepts List group With Badges -->
			<ul class="list-group">
				{% for concept in concepts %}
				{% if concept.category != 'library' and concept.category != 'api' %}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					{{ concept.concept_term }}
					{% if concept.category %}
					<span class="badge {{ concept_badge[concept.category][1] }}"><i
							class="bi {{ concept_badge[concept.category][2] }} me-1"></i> {{ concept_badge[concept.category][0] }}</span>
					{% endif %}
				</li>
				{% endif %}
				{% endfor %}
			</ul><!-- End Top Concepts List Group -->

		</div>
	</div>

	<!--	Project CodeLinks Table-->

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{ project.name }} CodeLinks</h5>

			{% include '_codelinks.html' %}
			<a href="{{ url_for('add_new_codelink') }}">
				<button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Add CodeLink</button>
			</a>
			<a href="{{ url_for('import_codelinks') }}">
				<button type="button" class="btn btn-dark"><i class="bi bi-folder"></i> Upload CSV</button>
			</a>
		</div>
	</div>
	<!-- End Table with hoverable rows -->

</main> <!-- End #main -->
{% endblock %}


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>
