<script>

					  
					  function startTask() {
						  fetch('/start_task')
						  	.then(() => {
								  updateProgress();
						  });
					  }

					  function updateProgress() {
						  fetch('/progress')
						  .then(response => response.json())
						  .then(data => {
							  document.getElementById('progress-bar').style.width = data.progress + '%';
							  document.getElementById('progress-bar').setAttribute('aria-valuenow', data.progress);
							  document.getElementById('progress-bar').textContent = data.progress + '%';
							  if (data.progress < 100) {
								  setTimeout(updateProgress, 500);
							  }
						  });
					  }

				  </script>